<!DOCTYPE html>
<html class="" lang="en">

<head>
    <meta charset="utf-8">
    <title>Steroidesign: Airbnb theme</title>
    <meta content="Theme based on Airbnb styles (buttons, color palette, components, etc.) ready to use in your own projects." name="description">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <!--     STYLES     -->
    <!--================-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="build/css/vendor.min.css" rel="stylesheet">
    <link href="theme/app.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/99e7a6e2c6.js">
    </script>
    <script src="build/js/feather.min.js" type="text/javascript">
    </script>
</head>

<body class="mainApp margin-reset">
    <!--=========================================-->
    <!--                 HEADER                  -->
    <!--=========================================-->
    <header class="ma-header ma-header--large">
        <div class="ma-header__logo-container">
            <a class="link-reset">
                <div class="content">
                    <div class="ma-logo"></div>
                </div>
            </a>
        </div>
        <div class="ma-header__search-container">
            <form class="form-content hidden-xs">
                <div class="ma-search-bar">
                    <i class="ma-search-bar__icon" data-feather="search"></i>
                    <label aria-hidden="true" class="screen-reader-only">Search</label>
                    <input class="ma-search-bar__input" placeholder="Search" type="text">
                </div>
            </form>
        </div>
        <div class="ma-header__nav-container">
            <nav>
                <ul class="ma-nav-list">
                    <li class="ma-nav-list__item">
                        <button class="ma-nav-list__item__btn">Log in</button>
                    </li>
                    <li class="ma-nav-list__item">
                        <button class="ma-nav-list__item__btn">Sign up</button>
                    </li>
                    <li>
                        <a class="ma-nav-list__item__btn link-reset" href="">
                            <div class="content">
                                <div class="ma-avatar ma-avatar--tiny ma-avatar--border-minimal round"><img alt="" height="32" src="https://pbs.twimg.com/profile_images/888407217040498689/rp8G6S4N_400x400.jpg" width="32"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="ma-subnav ma-subnav--simple">
        <nav class="container">
            <div class="ma-subnav__item">
                <div class="content">
                    <a href="">Overview</a>
                </div>
            </div><span class="space-right-1 space-left-1">·</span>
            <div class="ma-subnav__item">
                <div class="content">
                    <a href="">Review</a>
                </div>
            </div><span class="space-right-1 space-left-1">·</span>
            <div class="ma-subnav__item">
                <div class="content">
                    <a class="active" href="">The Host</a>
                </div>
            </div><span class="space-right-1 space-left-1">·</span>
            <div class="ma-subnav__item">
                <div class="content">
                    <a href="">Location</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="space-3"></div>
    <div class="ma-subnav ma-subnav--tabs">
        <nav class="container">
            <div class="ma-subnav__item space-right-4">
                <div class="content">
                    <a class="link-reset" href="">FOR YOU</a>
                </div>
            </div>
            <div class="ma-subnav__item space-right-4">
                <div class="content active">
                    <a class="link-reset" href="">HOMES</a>
                </div>
            </div>
            <div class="ma-subnav__item space-right-4">
                <div class="content">
                    <a class="link-reset" href="">EXPERIENCES</a>
                </div>
            </div>
            <div class="ma-subnav__item">
                <div class="content">
                    <a class="link-reset" href="">PLACES</a>
                </div>
            </div>
        </nav>
    </div>
    <section id="section-banner_1" aria-label="Website Banner featuring a search bar">
        <div class="section-banner_wrapper">
            <div class="section-banner-background_img">
                <div class="section-banner_content container titles-section">
                    <p class="section-banner_h1 h1"><strong>Dental Implants Online</strong></h1>
                        <p class="section-banner_h2 h2">Your Guide to Dental Implant Surgeons</p>
                        <p class="section-banner_tagline h3">Dental Implants Online is an Internet resource to educate you about the placement of dental implants and to help you locate a dental implant practice in your area.</p>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="banner-address">Address</label>
                                    <input class="ma-input ma-input--large" id="banner-address" placeholder="Address" type="text">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <label for="banner-city">City</label>
                                    <input class="ma-input ma-input--large" id="banner-city" placeholder="City" type="text">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-6">
                                <div class="form-group">
                                    <label for="banner-state">State</label>
                                    <input class="ma-input ma-input--large" id="banner-state" placeholder="State" type="text">
                                </div>
                            </div>
                            <div class="col-sm-12 space-5"><button class="ma-btn ma-btn--default ma-btn--primary">Start now</button></div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section class="landingPage__progress-block space-top-11 space-11 container">

        <div class="row center-xs space-5">
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 text-center space-top-5">
                <h2 class="margin-reset">Incredible Dentistry</h2>
                <p class="ma-p ma-p--large">Top oral surgeons for patients who want to learn more about dental implants</p>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2"></div>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5" ng-repeat="country in ::vm._countryContainers track by $index">

                        <!-- Country Box -->
                        <a class="link-reset" href="#">
                            <div id="landingPage-country-box-CR" class="country-progress-block
                                        country-progress-block--first text-left">
                                <h2 class="country-progress-block__text margin-reset space-3">Costa Rica</h2>
                            </div>
                        </a>

                    </div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5">

                        <!-- Country Box -->
                        <a  class="link-reset" href="#">
                            <div id="landingPage-country-box-BR" class="country-progress-block
                                        country-progress-block--first text-left">
                                <h2 class="country-progress-block__text margin-reset space-3">Brazil</h2>

                             
                            </div>
                        </a>

                    </div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5" >

                        <!-- Country Box -->
                        <a  class="link-reset" href="/page/country/venezuela">
                            <div id="landingPage-country-box-VE" class="country-progress-block
                                        country-progress-block--first text-left" style="background-image: url(&quot;https://s3.amazonaws.com/waysily-img/country-photo-prd/image@0,25x/v1_venezuela@0,25x.jpg&quot;);padding:35px;">
                                <h2 class="country-progress-block__text margin-reset space-3">Venezuela</h2>

                                <!-- Country information LEGACY -->
                                <!--p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p-->
                            </div>
                        </a>

                    </div><!-- end ngRepeat: country in ::vm._countryContainers track by $index --><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5">

                        <!-- Country Box -->
                        <a  class="link-reset"  href="/page/country/chile">
                            <div id="landingPage-country-box-CL" class="country-progress-block
                                        country-progress-block--first text-left"  style="background-image: url(&quot;https://s3.amazonaws.com/waysily-img/country-photo-prd/image@0,25x/v1_chile@0,25x.jpg&quot;);padding:35px;">
                                <h2 class="country-progress-block__text margin-reset space-3">Chile</h2>

                                <!-- Country information LEGACY -->
                                <!--p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p-->
                            </div>
                        </a>

                    </div><!-- end ngRepeat: country in ::vm._countryContainers track by $index --><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5" >

                        <!-- Country Box -->
                        <a class="link-reset" href="/page/country/peru">
                            <div id="landingPage-country-box-PE" class="country-progress-block
                                        country-progress-block--first text-left"  style="background-image: url(&quot;https://s3.amazonaws.com/waysily-img/country-photo-prd/image@0,25x/v1_peru@0,25x.jpg&quot;);padding:35px;">
                                <h2 class="country-progress-block__text margin-reset space-3">Peru</h2>

                                <!-- Country information LEGACY -->
                                <!--p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p-->
                            </div>
                        </a>

                    </div><!-- end ngRepeat: country in ::vm._countryContainers track by $index --><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5" ng-repeat="country in ::vm._countryContainers track by $index">

                        <!-- Country Box -->
                        <a ng-href="/page/country/argentina" class="link-reset" ng-click="vm.goToCountryDetails(country.aliasCountry);$event.preventDefault()" href="/page/country/argentina">
                            <div id="landingPage-country-box-AR" class="country-progress-block
                                        country-progress-block--first text-left" ng-style="{'background-image': 'url(' + country.thumbnail + ')'}" style="background-image: url(&quot;https://s3.amazonaws.com/waysily-img/country-photo-prd/image@0,25x/v1_argentina@0,25x.jpg&quot;);padding:35px;">
                                <h2 class="country-progress-block__text margin-reset space-3">Argentina</h2>

                                <!-- Country information LEGACY -->
                                <!--p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p-->
                            </div>
                        </a>

                    </div><!-- end ngRepeat: country in ::vm._countryContainers track by $index --><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5" ng-repeat="country in ::vm._countryContainers track by $index">

                        <!-- Country Box -->
                        <a ng-href="/page/country/ecuador" class="link-reset" ng-click="vm.goToCountryDetails(country.aliasCountry);$event.preventDefault()" href="/page/country/ecuador">
                            <div id="landingPage-country-box-EC" class="country-progress-block
                                        country-progress-block--first text-left" ng-style="{'background-image': 'url(' + country.thumbnail + ')'}" style="background-image: url(&quot;https://s3.amazonaws.com/waysily-img/country-photo-prd/image@0,25x/v1_ecuador@0,25x.jpg&quot;);padding:35px;">
                                <h2 class="country-progress-block__text margin-reset space-3">Ecuador</h2>

                                <!-- Country information LEGACY -->
                                <!--p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p-->
                            </div>
                        </a>

                    </div><!-- end ngRepeat: country in ::vm._countryContainers track by $index --><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5" ng-repeat="country in ::vm._countryContainers track by $index">

                        <!-- Country Box -->
                        <a ng-href="/page/country/bolivia" class="link-reset" ng-click="vm.goToCountryDetails(country.aliasCountry);$event.preventDefault()" href="/page/country/bolivia">
                            <div id="landingPage-country-box-BO" class="country-progress-block
                                        country-progress-block--first text-left" ng-style="{'background-image': 'url(' + country.thumbnail + ')'}" style="background-image: url(&quot;https://s3.amazonaws.com/waysily-img/country-photo-prd/image@0,25x/v1_bolivia@0,25x.jpg&quot;);padding:35px;">
                                <h2 class="country-progress-block__text margin-reset space-3">Bolivia</h2>

                                <!-- Country information LEGACY -->
                                <!--p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p-->
                            </div>
                        </a>

                    </div><!-- end ngRepeat: country in ::vm._countryContainers track by $index --><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5" ng-repeat="country in ::vm._countryContainers track by $index">

                        <!-- Country Box -->
                        <a ng-href="/page/country/mexico" class="link-reset" ng-click="vm.goToCountryDetails(country.aliasCountry);$event.preventDefault()" href="/page/country/mexico">
                            <div id="landingPage-country-box-MX" class="country-progress-block
                                        country-progress-block--first text-left" ng-style="{'background-image': 'url(' + country.thumbnail + ')'}" style="background-image: url(&quot;https://s3.amazonaws.com/waysily-img/country-photo-prd/image@0,25x/v1_mexico@0,25x.jpg&quot;);padding:35px;">
                                <h2 class="country-progress-block__text margin-reset space-3">Mexico</h2>

                                <!-- Country information LEGACY -->
                                <!--p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p-->
                            </div>
                        </a>

                    </div><!-- end ngRepeat: country in ::vm._countryContainers track by $index --><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5" ng-repeat="country in ::vm._countryContainers track by $index">

                        <!-- Country Box -->
                        <a ng-href="/page/country/guatemala" class="link-reset" ng-click="vm.goToCountryDetails(country.aliasCountry);$event.preventDefault()" href="/page/country/guatemala">
                            <div id="landingPage-country-box-GT" class="country-progress-block
                                        country-progress-block--first text-left" ng-style="{'background-image': 'url(' + country.thumbnail + ')'}" style="background-image: url(&quot;https://s3.amazonaws.com/waysily-img/country-photo-prd/image@0,25x/v1_guatemala@0,25x.jpg&quot;);padding:35px;">
                                <h2 class="country-progress-block__text margin-reset space-3">Guatemala</h2>

                                <!-- Country information LEGACY -->
                                <!--p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p-->
                            </div>
                        </a>

                    </div><!-- end ngRepeat: country in ::vm._countryContainers track by $index --><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 space-5" ng-repeat="country in ::vm._countryContainers track by $index">

                        <!-- Country Box -->
                        <a ng-href="/page/country/colombia" class="link-reset" ng-click="vm.goToCountryDetails(country.aliasCountry);$event.preventDefault()" href="/page/country/colombia">
                            <div id="landingPage-country-box-CO" class="country-progress-block
                                        country-progress-block--first text-left" ng-style="{'background-image': 'url(' + country.thumbnail + ')'}" style="background-image: url(&quot;https://s3.amazonaws.com/waysily-img/country-photo-prd/image@0,25x/v1_colombia@0,25x.jpg&quot;);padding:35px;">
                                <h2 class="country-progress-block__text margin-reset space-3">Colombia</h2>

                                <!-- Country information LEGACY -->
                                <!--p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>21 </span>
                                    <span translate>%global.schools.text</span>
                                </p>
                                <p class="country-progress-block__text
                                          country-progress-block__text--strong
                                          ma-p ma-p--large text-right margin-reset">
                                    <span>24 </span>
                                    <span translate>%global.teachers.text</span>
                                </p-->
                            </div>
                        </a>

                    </div><!-- end ngRepeat: country in ::vm._countryContainers track by $index -->

                </div>
            </div>
        </div>

    </section>
    <script>
    feather.replace();
    </script>
</body>

</html>